# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# IDE
.vscode/

# Streamlit
.streamlit/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Data
data/uploads/*
data/vectorstore/*